*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    /* background:#081b29; */
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparen t;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* visibility: ; */
    z-index: 100; 
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;

}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.5s;
}

.navbar a:hover , .navbar a.active {
    color: rgb(33, 79, 231);
}

.home {
    /* border: 2px solid red; */
    height: 100vh;
    background:url('./home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.home-content{
    /* background-color: yellowgreen; */
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(33,79,231);
    line-height: 1.3;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0px 40px ;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    /* background: yellowgreen; */
}

.btn-box a{
    position: relative;
    margin-top: 10px;
    display: inline-flex ;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 100%;
    background-color: rgb(33, 79, 231);
    border: 1px solid rgb(33, 79, 231);
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}
.btn-box a:hover{
    color: rgb(33, 79, 231) ;
    
}
.btn-box a:nth-child(2){
    background: transparent;
    color: rgb(33, 79, 231);
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: rgb(33, 79, 231);
    
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29 ;
    border-radius: 8px;
    z-index: -1;
    transition: .4s;
    /* overflow: hidden; */

}
.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}


.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(33, 79, 231);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(33, 79, 231);
    text-decoration: none;
    z-index: 1;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;;
    background: rgb(33, 79, 231);
    border-radius: 50%;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-sci a:hover{
    color: #081b29;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 50px;
    width: 500px;;
    height: 100%;
    background: transparent;
    /* border: 2px solid red; */
    transition: 3s;
}

.home-imgHover:hover{
    background: #081b29;
    opacity: .65;
}

/* KEYFRAMES ANIMATION */

@keyframes showRight {
    100%{
        width: 0;;
    }
}



